@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local(OpenSans-Light),
      url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXZ2MAKAc2x4R1uOSeegc5U.eot?#)
        format('eot'),
      url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2)
        format('woff2'),
      url(//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff)
        format('woff');
  }

  @font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    src: local(Raleway),
      url(//fonts.gstatic.com/s/raleway/v9/JDau3G46nqY5-B-S9E_nwg.eot?#)
        format('eot'),
      url(//fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2)
        format('woff2'),
      url(//fonts.gstatic.com/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff)
        format('woff');
  }

  body {
    height: 99vh;
    background-color: #faf9f8;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23fbe3c6' fill-opacity='0.59' fill-rule='evenodd'/%3E%3C/svg%3E");
  }

  #svelte {
    height: 100%;
  }

  h2 {
    @apply text-xl;
  }

  h3 {
    @apply text-lg;
  }

  form {
    @apply block rounded bg-white p-3 shadow-md;
  }
}

@layer utilities {
  .h-50 {
    height: 50%;
  }

  .font-opensans {
    font-family: 'Open Sans', sans-serif;
  }
}

.btn {
  @apply rounded py-1 px-2 font-semibold shadow;
}

.btn-cta {
  @apply btn border-cta-dark bg-cta text-white;
}

.btn-cta:hover {
  @apply bg-cta-dark;
}
